*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}


footer {
    width: 100%;
    padding: 1px 0px;
    background-color:lightblue;
    mask-size: cover;

}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.box__footer h2 {
    margin-bottom: 5px;
    color:orange;
    font-weight: 700;
    margin-left: 20px;
}

.box_footer .box__footer a{
    margin-top: 10px;
    color:#3d3434;
    font-weight: 600;
    margin-bottom: 20px;
    

}

.box__footer a{
    margin-top: 10px;
    color: #3d3434;
    font-weight: 400;
    text-decoration: none;
    margin-left: 20px;

}

/*opacidad letras cuando pasas sobre ellas*/
.box__footer a:hover {
    opacity: 0.8;
}


.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3d3434;
}
