body {
  background-color:azure;

}

/* Css barra de navegación */

.navBg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./img/nubes.jpg);
  background-size: 100%;

}

.me-auto {
  font-size: 26px;
  text-decoration: none;
  justify-content: space-between;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;

}

.logoclima {
  display: flex;
  height: 180px;
  width: 180px;
  margin-left: 20px;

}

.navlista {
  text-decoration: none;
  color: orange;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;


}

#lista>span {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}


section {
  padding: 0px;
  margin: 5%;
  color: black;
  height: 100%;
}

/* Css tarjeta Nosotras */

.container {
  display: flex;
  flex-direction: row;
}


.card-img-top {
  height: 250px;
  width: auto;
  margin-top: 15px;
  border-radius: 6px;

}

.btn-outline {
  text-decoration: none;
  color: darkorange;
  background-color: black;

}

.col-md-4 {
  margin-top: 30px;
  margin-bottom: 35px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.row {

  justify-content: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 30px;
}
.overflow {
  transition: 0s linear;
  background-color: lightblue;
  gap: 10px;
  margin: 20px;
}

.overflow:hover {
  padding: 28px;
}

.div-justificada {
  display: flex;
  text-align: justify;
  color: black;
  padding: 10px;
  margin: 30px;
}



/* Css página ppal */

#nav {
  display: flex;
  font-size: 30px;
  color: rgb(201, 138, 22);
  justify-content: space-between;
  padding: 0 0.5rem;
  align-items: center;
  width: 100%;
}

#nav #lista1 {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Satisfy', cursive;

}


#principal-title {
  text-align: center;
  margin-top: 12px;
}

#luna {

  margin-top: 30px;
}

.mapamundi {
  align-items: center;
  margin-left: 12%;

}

#punto {
  font-size: 20px;
  margin-left: 45%;
  margin-top: 30px;
  padding: 20px;
  background-color:lightskyblue;

}

a {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
  padding: 10px 15px;

}

#principal-text {
  font-size: 25px;
  text-align: justify;
  justify-content: center;
  margin: 20px;
  margin-left: 150px;
  margin-right: 150px;

}
input {
  display: block;
  width: 60%;
  margin: auto;
  padding: 13px;
  border: 0;
  border-radius: 20px;
  opacity: 0.5;
}


.buscar {
  display: block;
  width: 50%;
  padding: 13px;
  border: 0;
  border-radius: 20px;
  background-color: lightblue;

  
}
 .cardclima {
  height:250px;
  width: 450px;
 margin: 100px;
 margin-top: 50px;
 margin-left: 40%;
 }


/* responsive */

@media screen and (min-width: 790px) and (max-width: 1280px) {

  .div-justificada {
    width: 70%;
  }

  #principal-text {
    width: 70%;
    padding-left: 40px;
    padding: 10px;
    margin-left: 80px;
  }

  .mapamundi {
    margin-left: 140px;
  }
}

@media screen and (min-width: 425px) and (max-width: 786px) {

  #container .me-auto #lista {
    font-size: 20px;
  }

  .row {
    margin-top: 100px;
  }

  .div-justificada {
    width: 60%;
  }

  #nav #lista1 {
    margin-top: 20px;
  }

  #principal-text {
    width: 70%;
    padding-left: 40px;
    padding: 10px;
    margin-left: 80px;
  }

  .mapamundi {
    margin-left: 40px;
  }

  #luna #punto {
    margin-left: 300px;
  }

}



@media screen and (min-width: 320px) and (max-width: 420px) {

  #container .me-auto #lista {
    font-size: 15px;
  }

  .row {
    margin-top: 120px;
  }

  .div-justificada {
    width: 60%;
  }

  #nav #lista1 {
    margin-top: 15px;
  }

  #principal-title {
    margin-top: 50px;
  }

  #principal-text {
    width: 70%;
    padding-left: 10px;
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
  }

  .mapamundi {
    margin-left: 10px;
    width: 200px;
  }

  #luna #punto {
    margin-left: 100px;
  }

  #luna {
    height: 1800px;
  }
}